body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #eef2f7;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    background: #1e293b;
    color: white;
    width: 300px;
    padding: 20px;
    text-align: center;
}

.perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #38bdf8;
}

.cargo {
    color: #94a3b8;
}

.info p {
    margin: 5px 0;
    font-size: 14px;
}

.info i {
    margin-right: 8px;
    color: #38bdf8;
}

/* HABILIDADES */
.skills p {
    margin: 10px 0 5px;
    font-size: 14px;
}

.barra {
    background: #334155;
    border-radius: 10px;
    height: 8px;
    margin-bottom: 10px;
}

.nivel {
    background: #38bdf8;
    height: 100%;
    border-radius: 10px;
}

/* IDIOMAS */
.idiomas {
    margin-top: 20px;
}

/* CONTENIDO */
.contenido {
    flex: 1;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    margin-top: 0;
    color: #1e293b;
}

.card p {
    text-align: justify;
    line-height: 1.6;
    color: #374151;
}

.item {
    margin-bottom: 15px;
}

.item span {
    font-size: 12px;
    color: gray;
}

/* BOTONES */
.botones {
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px 5px 0 0;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.linkedin {
    background: #0a66c2;
}

.github {
    background: #333;
}

.btn:hover {
    opacity: 0.8;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}
